/* Create a Parallax Effect */
.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image:url('../images/realestate.jpeg');
  min-height: 100%;
  brightness:(40%)
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}


/* button effects */

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lobster+Two|Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Righteous');
body 

    
button 
{
 font-family: 'Righteous', cursive;
	width: 150px;
	height: 2.5em;
	border:2px solid white;
	font-size: 17px;
	line-height: 2.5em;
	text-align: center;
	position:relative;
	overflow: hidden;
  letter-spacing:3px;
  opacity:0.7.5;
	
    
}

button span 
{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transition: 0.4s ease-in;
}

.textOut1,.textOut2,.textOut3,.textOut4 
{
	left: 0%;

}
       
.textIn3,.textIn4
{
        color: blue;
}

    
.btn3
{
border-radius:20px 20px 20px;
background-image: linear-gradient(to right top, #fb6d11, #ec1a3f, #c4005e, #840076, #06067e);
box-shadow:0 0 0 1px #4EFB11 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 2px 0 #4EFB11, 0 8px 8px 1px rgba(0,0,0,0.5);

}

.btn3:active
{
 box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
 transform: translate(0px,10px);
 
}

.textIn3
{
	font-size: 1.1em;
	background-image: linear-gradient(to right bottom, #11fbf1, #00ffd5, #00ffab, #00ff73, #4efb11);
	left:-100%;
}


button:hover .textOut3 
{
	left: 100%;
}

button:hover .textIn3 
{
	left: 0%;
}

#rexy{

  background-image:url('../images/mtaani.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#mtungi{
  margin-top:12%;
  background-image: url('https://images.pexels.com/photos/2833739/pexels-photo-2833739.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* hood syles */
 .wetu{
   background-image: url('https://images.pexels.com/photos/2132891/pexels-photo-2132891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 #beats {
  animation: heartbeat 3s infinite;
  padding: 1%;
}

@keyframes heartbeat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}


.center {
      
  margin: 0 auto;
  
}

.awesome {
  
  font-family: futura;
  font-style: italic;
  
  width:100%;
  
  margin-top:-8%;
  text-align: center;
  
  color:#313131;
  font-size:45px;
  font-weight: bold;
  position: absolute;
  -webkit-animation:colorchange 20s infinite alternate;
  
  
}

@-webkit-keyframes colorchange {
  0% {
    
    color: blue;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: blue;
  }
  
  50% {
    
    color: #34495e;
  }
  
  60% {
    
    color: blue;
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}